<div [hidden]="isComponent" class="pricing-header py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Quotes</h1>
  <p class="lead">Preview exchange rate of the currencies using our API</p>
  <div class="d-flex flex-column align-items-center justify-content-center w-100">
    <button class="w-50 btn btn-primary btn-lg spinner" [disabled]="loading" (click)="fetchCurrencies()" type="submit">
      {{loading ? '' : 'Refresh'}}
    </button>
  </div>
</div>
<div [hidden]="!isComponent" class="pricing-header pb-md-4 mx-auto text-left">
  <h4>Quotes</h4>
  <div class="d-flex flex-column align-items-center justify-content-center w-100">
    <button class="w-100 btn btn-primary btn-lg spinner" [disabled]="loading" (click)="fetchCurrencies()" type="submit">
      {{loading ? '' : 'Refresh'}}
    </button>
  </div>
</div>
<div class="row row-cols-1 {{isComponent ? '': 'row-cols-md-3'}} mb-3 text-center">
  <div class="col" *ngFor="let currency of currencies">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">{{currency.name}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-2 mb-4">
          <li><strong>Currency Code (ISO): </strong>{{currency.iso}}</li>
          <li>
            <strong>Sale Price: </strong>
            <span>{{currency.iso}} {{currency.salePrice | number:'1.2-2'}}</span>
          </li>
          <li>
            <strong>Purchase Price: </strong>
            <span>{{currency.iso}} {{currency.purchasePrice | number:'1.2-2'}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>